
@{
    ViewBag.Title = "Kitaplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-gradient py-5">
    <div class="container">
        <h1 class="text-center py-4 text-white">Tamamen yeni nesil, üstelik bilim dolu  :)</h1>
        <div class="row">
            <div class="col-md-4">
                <!-- offset-md-2-->
                <div class="card mb-4 border-0 shadow">
                    <div class="card-body">
                        <h2 class="text-center">6. SINIF</h2>
                        <h4>60.00 ₺ / <small>Matematik</small></h4>
                        <hr>
                        <ul class="list-unstyled">
                            <img src="~/images/6.png" class="img-fluid">
                        </ul>
                        <hr>
                        <a href="#" class="btn btn-danger btn-block">SATIN AL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 border-0 shadow">
                    <div class="card-body">
                        <h2 class="text-center">7.SINIF</h2>
                        <h4>70.00 ₺ / <small>Fen Bilimleri</small></h4>
                        <hr>
                        <ul class="list-unstyled">
                            <img src="~/images/7.png" class="img-fluid">
                        </ul>
                        <hr>
                        <a href="#" class="btn btn-dark btn-block">SATIN AL</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 border-0 shadow">
                    <div class="card-body">
                        <h2 class="text-center">LGS</h2>
                        <h4>80.00 ₺ / <small>Tüm Set</small></h4>
                        <hr>
                        <ul class="list-unstyled">
                            <img src="~/images/8.png" class="img-fluid">
                        </ul>
                        <hr>
                        <a href="#" class="btn btn-info btn-block">SATIN AL</a>
                        </hr>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 border-0 shadow">
                    <div class="card-body">
                        <h2 class="text-center">9.SINIF</h2>
                        <h4>90.00 ₺ / <small>Fizik</small></h4>
                        <hr>
                        <ul class="list-unstyled">
                            <img src="~/images/9.png" class="img-fluid">
                        </ul>
                        <hr>
                        <a href="#" class="btn btn-primary btn-block">SATIN AL</a>
                        </hr>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 border-0 shadow">
                    <div class="card-body">
                        <h2 class="text-center">10.SINIF</h2>
                        <h4>100.00 ₺ / <small>Kimya</small></h4>
                        <hr>
                        <ul class="list-unstyled">
                            <img src="~/images/10.png" class="img-fluid">
                        </ul>
                        <hr>
                        <a href="#" class="btn btn-success btn-block">SATIN AL</a>
                        </hr>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 border-0 shadow">
                    <div class="card-body">
                        <h2 class="text-center">11.SINIF</h2>
                        <h4>110.00 ₺ / <small>Biyoloji</small></h4>
                        <hr>
                        <ul class="list-unstyled">
                            <img src="~/images/11.png" class="img-fluid">
                        </ul>
                        <hr>
                        <a href="#" class="btn btn-secondary btn-block">SATIN AL</a>
                        </hr>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 border-0 shadow">
                    <div class="card-body">
                        <h2 class="text-center">TYT</h2>
                        <h4>120.00 ₺ / <small>Denemeler</small></h4>
                        <hr>
                        <ul class="list-unstyled">
                            <img src="~/images/12.png" class="img-fluid">
                        </ul>
                        <hr>
                        <a href="#" class="btn btn-dark btn-block">SATIN AL</a>
                        </hr>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 border-0 shadow">
                    <div class="card-body">
                        <h2 class="text-center">AYT</h2>
                        <h4>140.00 ₺ / <small>Denemeler</small></h4>
                        <hr>
                        <ul class="list-unstyled">
                            <img src="~/images/13.png" class="img-fluid">
                        </ul>
                        <hr>
                        <a href="#" class="btn btn-warning btn-block">SATIN AL</a>
                        </hr>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 border-0 shadow">
                    <div class="card-body">
                        <h2 class="text-center">YDT</h2>
                        <h4>130.00 ₺ / <small>Denemeler</small></h4>
                        <hr>
                        <ul class="list-unstyled">
                            <img src="~/images/14.png" class="img-fluid">
                        </ul>
                        <hr>
                        <a href="#" class="btn btn-success btn-block">SATIN AL</a>
                        </hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

